<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.liteav.demo.play">
    <!--网络权限-->

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--点播播放器悬浮窗权限-->

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--存储-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".SuperPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/transparent">
            <!--华为android28刘海屏适配-->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
    </application>
</manifest>
